<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">

  <div class="container">
    <a class="navbar-brand" routerLink="/" href="#">Dating App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active" aria-current="page">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>

      </ul>

      <span dropdown *ngIf="(accountService.currentUser$ | async) as user">
        <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.userName}}">
        <a href id="basic-link" class="text-light p-3" dropdownToggle (click)="false"
           aria-controls="basic-link-dropdown">Welcome {{user.userName | titlecase}}</a>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="basic-link">
          <li>
            <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </span>

      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" role="search" (submit)="login()" autocomplete="off">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
          aria-label="Search">
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
          aria-label="Search">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
